Repository traP-jp/traO-Judge-docs, pull requests merged in 2024-11, with the labels that each got.

#130 debug without docker 2
  exec-container/docker-image.nix
  exec-container/flake.nix
Labels: nix

#135 ✨ powershell
  exec-container/interpreters/default.nix
  exec-container/interpreters/powershell/default.nix
Labels: enhancement, nix

#147 add awk
  exec-container/interpreters/awk/default.nix
  exec-container/interpreters/default.nix
Labels: nix

#148 add whitespace
  exec-container/interpreters/default.nix
  exec-container/interpreters/whitespace/default.nix
  exec-container/interpreters/whitespace/pyproject.toml
  exec-container/interpreters/whitespace/uv.lock
Labels: nix

#149 💚 del nix build from ci
  .github/workflows/exec-container.yml
Labels: ci/test
